.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.book-card {
    background-color: lightblue;
    padding: 5px;
}

.book-card.read {
    background-color: lightgreen;
}

.book-card.unread {
    background-color: pink;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    width: 20em;
    gap: 5px;
}

.new-book-form label {
    display: flex;
    justify-content: space-between;
}